{% extends 'base.html' %}

{% block content %}

{% for post in music_list %}
<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-header">
                {{ post.title }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{ post.embed|safe }}
                    </div>
                    <div class="col">
                        {{ post.description }}
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}